<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'book_list', user: @findbook.user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @findbook.user.get_profile_image(100,100) %>
              <%= link_to user_path(params[:id]), class: 'text_light' do %>
                <%= @findbook.user.name %>
              <% end %>
            </td>
            <td>
              <%= @findbook.title %>
            </td>
            <td>
              <%= @findbook.body %>
            </td>
            <td>
              <%= link_to "Edit", edit_book_path, class:"btn btn-sm btn-success" %>
            </td>
            <td>
              <%= link_to "Delete",book_path(@findbook.id), method: :delete, class:"btn btn-sm btn-danger" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>